* {
    margin: 0;
    padding: 0;
}



.header_fon_img {
    background-image: url(img/header_fon.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 815px;
}

.center {
    margin-left: calc(50% - 800px);
    margin-right: calc(50% - 800px);
}

.header_top {
    display: flex;
    gap: 314px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    /* margin-right: 209px; */
}

.header_left_logo {
    text-decoration: none;
}

.text_logo {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 28px;
    line-height: 30px;
}

.header_left_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;

}

.menu {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #465B95;
    text-decoration: none;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 82px;
    margin-top: 50px;
}

.header_left_menu {
    display: flex;
    gap: 36px;

}

.header_rite {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    margin-top: 55px;
}

.header_rite_a {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #8794BA;
    text-decoration: none;

}

.header_rite_a:hover {
    transform: scale(1.15);
    transition: 0.3s;
    color: #EF2A82;
}

.header_rite_btn {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #8794BA;
    background-color: transparent;
    border: solid 1px #8794BA;
    padding: 10px 53px;
    border-radius: 68px;
}

.header_rite_btn:hover {
    transform: scale(1.15);
    transition: 0.3s;
    background-color: #EF2A82;
}

.header_rite_img {
    display: none;
}

.header_content_text_H {
    font-family: Roboto;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.header_content_text_p {
    font-family: Roboto;
    font-size: 18px;
    line-height: 27px;
    color: #8794BA;
    margin-top: 15px;
}

.header_content_text_btn {
    color: #FFFFFF;
    background-color: #EF2A82;
    padding: 15.5px 80px;
    border-radius: 68px;
    margin-top: 49px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    border: none;
}

.header_content_img {
    position: relative;
    margin-top: 74px;
}

.header_content_img_app {
    position: absolute;
    top: 124px;
    right: 460px;
}

.header_content_text_btn:hover {
    transform: scale(1.15);
    transition: 0.3s;

}

.header_content {
    display: flex;
    gap: 81px;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.header_content_text {
    max-width: 550px;
    margin-top: 152px;
}



@media (min-width: 375px) and (max-width:767px) {
    .center {
        margin-left: calc(50% - 187.5px);
        margin-right: calc(50% - 187.5px);
    }


    .header_top {
        display: flex;
        gap: 107px;
        /* flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: 23px; */
    }

    .header_left {
        margin-top: 20px;
    }

    .header_left_menu {
        display: none;
    }

    .header_left_logo {
        display: flex;
        gap: 9px;

    }

    .text_logo {
        font-size: 12px;



    }

    .header_rite {
        display: flex;
        gap: 18px;
        margin-top: 25px;
    }

    .header_rite_btn {
        display: none;
    }

    .header_rite_img {
        display: block;
    }

    .header_content {
        display: flex;
        gap: 26px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    .header_content_img {
        margin-top: 29px;
    }

    .header_content_img_fon {
        width: 335px;
        height: 231px;
    }

    .header_content_text {
        max-width: 335px;
        margin-top: 0px;
    }

    .header_content_text_H {
        font-size: 31px;
        line-height: 37px;
    }

    .header_content_text_btn {
        padding: 15.5px 128.5px;
        margin-top: 25px;
    }

    .header_content_img_app {
        display: none;
    }

    .header_fon_img {
        background-size: cover;
    }
}

.features {
    display: flex;
    gap: 81px;
    align-items: center;
    flex-direction: column;
    padding-left: 210px;
    padding-right: 210px;
    margin-top: 75px;
}

.features_big {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.features_smol {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.features_big_H {
    color: #172755;
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;

}

.features_big_p {
    color: #8794BA;
    font-family: Roboto;
    font-size: 18px;
    line-height: 27px;
}

.features_smol_H {
    color: #172755;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}

.features_smol_p {
    color: #8794BA;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;

}

.features_smol_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
}

.features_smol_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

@media (min-width: 320px) and (max-width:767px) {
    .center {
        margin-left: calc(50% - 187.5px);
        margin-right: calc(50% - 187.5px);
    }

    .features {
        display: flex;
        gap: 81px;
        align-items: center;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    .features_smol {
        display: flex;
        flex-direction: column;
    }



    .features_smol_item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 26px;

    }

    .features_smol_p {
        color: #8794BA;
        font-size: 14px;
        line-height: 20px;
        width: 246px;
    }

}

.content {
    padding-left: 210px;
    padding-right: 210px;
    margin-top: 130px;
    display: flex;
    gap: 120px;
    flex-direction: column;
    align-items: center;
}

.content_item {
    display: flex;
    gap: 164px;
    align-items: center;
    flex-direction: row;
}

.content_item_text {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 89px;
    padding-bottom: 89px;
}

.content_item_text_H {
    color: #172755;
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;
}

.content_item_text_p {
    color: #8794BA;
    font-family: Roboto;
    font-size: 18px;
    line-height: 27px;
}

@media (min-width: 375px) and (max-width:767px) {
    .center {
        margin-left: calc(50% - 187.5px);
        margin-right: calc(50% - 187.5px);
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 60px;
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: center;
    }

    .content_item {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .content_item_text_H {
        font-size: 30px;
        line-height: 35px;
    }

    .content_item_text_p {
        font-size: 14px;
        line-height: 20px;
    }

    .content_item_text {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .content_item_img {
        width: 270px;
        height: 151px;
        padding: 40px 32px 37px 32px;
    }
}

.pricing_plans {
    background-image: url(img/plans_fon.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 1069px;
    margin-top: 49px;
}

.pricing_plans_content {
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
}

.pricing_plans_content_app {
    padding-top: 245px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.pricing_plans_content_app_H {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;
}

.pricing_plans_content_app_p {
    color: #8794BA;
    font-family: Roboto;
    font-size: 18px;
    line-height: 27px;
    max-width: 620px;
    text-align: center;
}

.pricing_plans_content_blocks {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 130px;
}

.pricing_plans_content_blocks_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F1F4B;
    border-radius: 30px;
    padding: 50px 66px 70px 66px;
}


.pricing_plans_content_blocks_item_H {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
}

.pricing_plans_content_blocks_item_p {
    color: #8794BA;
    font-family: Roboto;
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.pricing_plans_content_blocks_item_img {
    margin-top: 37px;
}

.pricing_plans_content_blocks_item_H2 {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 30px;
    line-height: 35px;
}

.prise {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 60px;
    line-height: 70px;
}

.pricing_plans_content_blocks_item_p2 {
    color: #8794BA;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;

}

.pricing_plans_content_blocks_item_btn {
    color: #FFFFFF;
    background-color: transparent;
    border: solid 1px #2A407C;
    border-radius: 68px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    padding: 15.5px 80px;
    margin-top: 40px;
}



.white {
    background-color: #FFFFFF;
    color: #172755;
}

.white_H {
    color: #172755;
}

.white_H2 {
    color: #172755;
}

.white_prise {
    color: #172755;
}

.white_btn {
    color: #FFFFFF;
    background-color: #EF2A82;
    border: solid 1px #EF2A82;
}

.pricing_plans_content_end {
    display: flex;
    gap: 86px;
}

.pricing_plans_content_end_ikons {
    max-width: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_plans_content_end_ikons_H {
    color: #160637;
    font-family: Roboto;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.pricing_plans_content_end_ikons_p {
    color: #8989A2;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    margin-top: 75px;
    margin-bottom: 61px;
}

.pricing_plans_content_end_form {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.pricing_plans_content_end_form_H {
    color: #160637;
    font-family: Roboto;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.pricing_plans_content_end_form_start {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    background-color: #722ED1;
    width: 344px;
    height: 48px;
    text-align: center;
    padding-top: 23px;
    border-radius: 6px;
}

.pricing_plans_input {
    padding: 16px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #8989A2;
    border: none;
    outline: none;
    border-radius: 6px;
}

.reiting {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.reiting_svg {
    cursor: pointer
}

.reiting_h {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}

.reiting_p {
    color: #8989A2;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}

.login {
    color: #722ED1;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}

.star {
    fill: #FFD36F;
}

@media (min-width: 375px) and (max-width:767px) {
    .center {
        margin-left: calc(50% - 187.5px);
        margin-right: calc(50% - 187.5px);
    }

    .pricing_plans {
        height: 857px;
        padding-top: 0px;
    }

    .pricing_plans_content_blocks {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 130px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .pricing_plans_content_end_ikons {
        display: none;
    }

    .pricing_plans_content_app_H {
        font-size: 30px;
        line-height: 35px;
        /* padding-top: 250px; */
    }

    .pricing_plans_content_app {
        display: flex;
        align-items: flex-start;
    }

    .pricing_plans_content_app_p {
        font-size: 14px;
        line-height: 20px;
        max-width: 335px;
        text-align: start;
    }

    .pricing_plans_content {
        display: flex;
        gap: 52px;

    }

    .pricing_plans_content_blocks_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
        padding: 35px 37px 47px 37px;
    }

    .pricing_plans_content_blocks_item_H {
        font-size: 25px;
        line-height: 29px;
        margin-top: 0px;
    }

    .pricing_plans_content_blocks_item_p {
        font-size: 13px;
        line-height: 18px;
        margin-top: 7px;
    }

    .pricing_plans_content_blocks_item_img {
        margin-top: 30px;
    }

    .pricing_plans_content_blocks_item_p2 {
        font-size: 13px;
        line-height: 18px;

    }

    .pricing_plans_content_blocks_item_btn {
        padding: 15.5px 83px;
        margin-top: 36px;
    }
}

footer {
    background-image: url(img/footer_fon.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 154px;
    margin-top: 740px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;




}

.footer_logo:hover path {
    fill: #EF2A82;
}

.footer_logo:hover {

    transform: scale(1.25);
    transition: 0.3s;
}

.footer_menu {
    color: #8794BA;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    gap: 36px;
}

.menu:hover {
    transform: scale(1.15);
    transition: 0.3s;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer_seti {
    display: flex;
    gap: 40px;
}

.footer_seti_img:hover path {
    fill: #EF2A82;
}

.footer_seti_img:hover {
    transform: scale(1.25);
    transition: 0.3s;
}

@media (min-width: 375px) and (max-width:767px) {
    .footer_menu {
        display: none;
    }

    footer {
        margin-top: 740px;
        display: flex;
        gap: 76px;
        justify-content: space-around;
        height: 98px;
    }

    .footer_logo {
        width: 124px;
        height: 24px;

    }
}